## 1117 H2O生成
现在有两种线程，氢 oxygen 和氧 hydrogen，你的目标是组织这两种线程来产生水分子。

存在一个屏障（barrier）使得每个线程必须等候直到一个完整水分子能够被产生出来。

氢和氧线程会被分别给予 releaseHydrogen 和 releaseOxygen 方法来允许它们突破屏障。

这些线程应该三三成组突破屏障并能立即组合产生一个水分子。

你必须保证产生一个水分子所需线程的结合必须发生在下一个水分子产生之前。

换句话说:

如果一个氧线程到达屏障时没有氢线程到达，它必须等候直到两个氢线程到达。
如果一个氢线程到达屏障时没有其它线程到达，它必须等候直到一个氧线程和另一个氢线程到达。
书写满足这些限制条件的氢、氧线程同步代码。

 

示例 1:

输入: "HOH"
输出: "HHO"
解释: "HOH" 和 "OHH" 依然都是有效解。
示例 2:

输入: "OOHHHH"
输出: "HHOHHO"
解释: "HOHHHO", "OHHHHO", "HHOHOH", "HOHHOH", "OHHHOH", "HHOOHH", "HOHOHH" 和 "OHHOHH" 依然都是有效解。
 

限制条件:

输入字符串的总长将会是 3n, 1 ≤ n ≤ 50；
输入字符串中的 “H” 总数将会是 2n；
输入字符串中的 “O” 总数将会是 n。

来源：力扣（LeetCode）
链接：https://leetcode-cn.com/problems/building-h2o
著作权归领扣网络所有。商业转载请联系官方授权，非商业转载请注明出处。

In [1]:
from threading import Barrier, Semaphore, Lock
class H2O:
    def __init__(self):
        self._bar = Barrier(3)
        self._o_sem = Semaphore(0)
        self._h_sem = Semaphore(2)
        # self._l = Lock()

    def hydrogen(self, releaseHydrogen: 'Callable[[], None]') -> None:
        
        # releaseHydrogen() outputs "H". Do not change or remove this line.
        self._h_sem.acquire()  
        self._bar.wait()
        releaseHydrogen()
        print('hydrogen')
        self._o_sem.release()


    def oxygen(self, releaseOxygen: 'Callable[[], None]') -> None:
        
        # releaseOxygen() outputs "O". Do not change or remove this line.
        self._o_sem.acquire()
        self._bar.wait()
        releaseOxygen()
        print('oxygen')
        # self._l.acquire()
        self._h_sem.release()
        self._h_sem.release()
        # self._l.release()

# 数据库

In [1]:
import pandas as pd
import logging
from sqlalchemy import create_engine
import abc

logging.basicConfig(level=logging.DEBUG)

In [4]:
class DbBase(metaclass=abc.ABCMeta):
    
    def __init__(self):
        self.set_up()

    def set_up(self):
        self.engine = create_engine('mysql://root:b00377837@localhost/leetcode',
                                    encoding='utf-8',
                                    echo=False)
        self._generate_sql()
        with self.engine.begin() as conn:
            for sql in self.sqls:
                conn.execute(sql)

    @abc.abstractmethod
    def _generate_sql(self):
        raise NotImplemented
                
    def tear_down(self):
        pass

## 1050. 合作过至少三次的演员和导演

In [9]:
"""
ActorDirector 表：

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| actor_id    | int     |
| director_id | int     |
| timestamp   | int     |
+-------------+---------+
timestamp 是这张表的主键.
 

写一条SQL查询语句获取合作过至少三次的演员和导演的 id 对 (actor_id, director_id)

示例：

ActorDirector 表：
+-------------+-------------+-------------+
| actor_id    | director_id | timestamp   |
+-------------+-------------+-------------+
| 1           | 1           | 0           |
| 1           | 1           | 1           |
| 1           | 1           | 2           |
| 1           | 2           | 3           |
| 1           | 2           | 4           |
| 2           | 1           | 5           |
| 2           | 1           | 6           |
+-------------+-------------+-------------+

Result 表：
+-------------+-------------+
| actor_id    | director_id |
+-------------+-------------+
| 1           | 1           |
+-------------+-------------+
唯一的 id 对是 (1, 1)，他们恰好合作了 3 次。

来源：力扣（LeetCode）
链接：https://leetcode-cn.com/problems/actors-and-directors-who-cooperated-at-least-three-times
著作权归领扣网络所有。商业转载请联系官方授权，非商业转载请注明出处。
"""

class Db1050(DbBase):

    def _generate_sql(self):
        self.sqls = [
            "Create table If Not Exists ActorDirector (actor_id int, director_id int, timestamp int)",
            "Truncate table ActorDirector",
            "insert into ActorDirector (actor_id, director_id, timestamp) values ('1', '1', '0')",
            "insert into ActorDirector (actor_id, director_id, timestamp) values ('1', '1', '1')",
            "insert into ActorDirector (actor_id, director_id, timestamp) values ('1', '1', '2')",
            "insert into ActorDirector (actor_id, director_id, timestamp) values ('1', '2', '3')",
            "insert into ActorDirector (actor_id, director_id, timestamp) values ('1', '2', '4')",
            "insert into ActorDirector (actor_id, director_id, timestamp) values ('2', '1', '5')",
            "insert into ActorDirector (actor_id, director_id, timestamp) values ('2', '1', '6')"]

    @property
    def pd(self):
        df = pd.read_sql_table('ActorDirector'.lower(), con=self.engine)
        tmp_df = df.groupby(['actor_id','director_id']).count()
        tmp_df.rename(columns={'timestamp':'total'}, inplace=True)
        tmp_df.reset_index(inplace=True)
        tmp_df = tmp_df[['actor_id','director_id']][tmp_df['total'] >= 3]
        # print('tmp_df', tmp_df)
        return tmp_df

        
    @property
    def mysql(self):
        mysql = """select actor_id, director_id from ActorDirector group by actor_id, director_id
having count(actor_id) >= 3"""
        sql_result = pd.read_sql_query(mysql, con=self.engine)
        return sql_result
        
db_1050 = Db1050()

In [10]:
db_1050.pd

   actor_id  director_id
0         1            1

In [11]:
db_1050.mysql

   actor_id  director_id
0         1            1

## 615 平均工资：部门与公司比较

In [32]:
"""
给如下两个表，写一个查询语句，求出在每一个工资发放日，每个部门的平均工资与公司的平均工资的比较结果 （高 / 低 / 相同）。

表： salary

| id | employee_id | amount | pay_date   |
|----|-------------|--------|------------|
| 1  | 1           | 9000   | 2017-03-31 |
| 2  | 2           | 6000   | 2017-03-31 |
| 3  | 3           | 10000  | 2017-03-31 |
| 4  | 1           | 7000   | 2017-02-28 |
| 5  | 2           | 6000   | 2017-02-28 |
| 6  | 3           | 8000   | 2017-02-28 |
 
employee_id 字段是表 employee 中 employee_id 字段的外键。

| employee_id | department_id |
|-------------|---------------|
| 1           | 1             |
| 2           | 2             |
| 3           | 2             |

对于如上样例数据，结果为：

| pay_month | department_id | comparison  |
|-----------|---------------|-------------|
| 2017-03   | 1             | higher      |
| 2017-03   | 2             | lower       |
| 2017-02   | 1             | same        |
| 2017-02   | 2             | same        |

解释

在三月，公司的平均工资是 (9000+6000+10000)/3 = 8333.33...

由于部门 '1' 里只有一个 employee_id 为 '1' 的员工，所以部门 '1' 的平均工资就是此人的工资 9000 。因为 9000 > 8333.33 ，所以比较结果是 'higher'。

第二个部门的平均工资为 employee_id 为 '2' 和 '3' 两个人的平均工资，为 (6000+10000)/2=8000 。因为 8000 < 8333.33 ，所以比较结果是 'lower' 。

在二月用同样的公式求平均工资并比较，比较结果为 'same' ，因为部门 '1' 和部门 '2' 的平均工资与公司的平均工资相同，都是 7000 。
"""

class Db615(DbBase):

    def _generate_sql(self):
        self.sqls = """Create table If Not Exists salary (id int, employee_id int, amount int, pay_date date)
Create table If Not Exists employee (employee_id int, department_id int)
Truncate table salary
insert into salary (id, employee_id, amount, pay_date) values ('1', '1', '9000', '2017/03/31')
insert into salary (id, employee_id, amount, pay_date) values ('2', '2', '6000', '2017/03/31')
insert into salary (id, employee_id, amount, pay_date) values ('3', '3', '10000', '2017/03/31')
insert into salary (id, employee_id, amount, pay_date) values ('4', '1', '7000', '2017/02/28')
insert into salary (id, employee_id, amount, pay_date) values ('5', '2', '6000', '2017/02/28')
insert into salary (id, employee_id, amount, pay_date) values ('6', '3', '8000', '2017/02/28')
Truncate table employee
insert into employee (employee_id, department_id) values ('1', '1')
insert into employee (employee_id, department_id) values ('2', '2')
insert into employee (employee_id, department_id) values ('3', '2')""".split('\n')

    @property
    def pd(self):
        salary_df = pd.read_sql_table('salary'.lower(), con=self.engine)
        employee_df = pd.read_sql_table('employee'.lower(), con=self.engine)
        df = salary_df.set_index('employee_id').join(employee_df.set_index('employee_id'), how='left')
        tmp_df = df[['pay_date','department_id', 'amount']].groupby(['pay_date','department_id']).mean()
        tmp_df.rename(columns={'amount':'avg'}, inplace=True)
        tmp_df.reset_index(inplace=True)
        logging.debug(tmp_df)
        total_avg = df[['amount']].groupby('pay_date')mean()[0]
        tmp_df['comparison'] = tmp_df.apply(lambda x: 'higher' if x.avg > total_avg else ('lower' if x.avg < total_avg else 'same'), axis=1)
        tmp_df['pay_month'] = tmp_df.apply(lambda x: pd.to_datetime(x.pay_date, format='%Y-%m'), axis=1)
        return tmp_df[['pay_month','department_id', 'comparison']]

    @property
    def mysql(self):
        mysql = """select actor_id, director_id from ActorDirector group by actor_id, director_id
having count(actor_id) >= 3"""
        sql_result = pd.read_sql_query(mysql, con=self.engine)
        return sql_result
        
db_615 = Db615()

In [33]:
db_615.pd

DEBUG:root:    pay_date  department_id   avg
0 2017-02-28              1  7000
1 2017-02-28              2  7000
2 2017-03-31              1  9000
3 2017-03-31              2  8000

   pay_month  department_id comparison
0 2017-02-28              1          低
1 2017-02-28              2          低
2 2017-03-31              1          高
3 2017-03-31              2          高

# 数据结构与算法

## 1. 两数之和
给定一个整数数组 nums 和一个目标值 target，请你在该数组中找出和为目标值的那 两个 整数，并返回他们的数组下标。

你可以假设每种输入只会对应一个答案。但是，你不能重复利用这个数组中同样的元素。

示例:

给定 nums = [2, 7, 11, 15], target = 9

因为 nums[0] + nums[1] = 2 + 7 = 9
所以返回 [0, 1]

```
class Solution:
    def twoSum(self, nums: List[int], target: int) -> List[int]:
        cached = {}
        for index, num in enumerate(nums):
            remainder = target -num
            if remainder in cached:
                return [cached[remainder], index]
            cached[num] = index
```

## 2.两数相加
给出两个 非空 的链表用来表示两个非负的整数。其中，它们各自的位数是按照 逆序 的方式存储的，并且它们的每个节点只能存储 一位 数字。

如果，我们将这两个数相加起来，则会返回一个新的链表来表示它们的和。

您可以假设除了数字 0 之外，这两个数都不会以 0 开头。

示例：

输入：(2 -> 4 -> 3) + (5 -> 6 -> 4)
输出：7 -> 0 -> 8
原因：342 + 465 = 807

```python
# Definition for singly-linked list.
# class ListNode:
#     def __init__(self, x):
#         self.val = x
#         self.next = None

class Solution:
    def addTwoNumbers(self, l1: ListNode, l2: ListNode) -> ListNode:
        head = ListNode(0)
        cur = head
        add_more = 0
        while (l1) or (l2) or add_more > 0:
            if l1 is not None:
                l1_val = l1.val
                l1 = l1.next
            else:
                l1_val = 0

            if l2 is not None:
                l2_val = l2.val
                l2 = l2.next
            else:
                l2_val = 0
            total = l1_val + l2_val + add_more
            add_more = total // 10
            total = total % 10
            cur.next = ListNode(total)
            cur = cur.next
        return head.next
````

## 3. 无重复字符的最长子串
给定一个字符串，请你找出其中不含有重复字符的 最长子串 的长度。

示例 1:

输入: "abcabcbb"
输出: 3 
解释: 因为无重复字符的最长子串是 "abc"，所以其长度为 3。
示例 2:

输入: "bbbbb"
输出: 1
解释: 因为无重复字符的最长子串是 "b"，所以其长度为 1。
示例 3:

输入: "pwwkew"
输出: 3
解释: 因为无重复字符的最长子串是 "wke"，所以其长度为 3。
     请注意，你的答案必须是 子串 的长度，"pwke" 是一个子序列，不是子串。

```
class Solution:
    def lengthOfLongestSubstring(self, s: str) -> int:
        '''
        1. 定义一个字典，用于存放当前字符的最新索引
        2. 定义start，记录长度开始的位置
        3. 遍历输入字符串，如果当前字符存在于1中定义的字典中，则更新start
        4. 计算当前最大的字符串长度length
        '''
        latest_char_index = {}
        start, length = 0, 0
        for index, c in enumerate(s):
            if c in latest_char_index:
                start = max(latest_char_index[c] + 1, start)
            length = max(length, index - start + 1)
            latest_char_index[c] = index        
        return length
```